<%= element_view_for(element) do |el| -%>
<article>
<h3>
  <%= el.render :blog_post_title %>
</h3>
<h6>
  <%= el.render :blog_post_meta %>
</h6>
<div class="row">
  <div class="large-6 columns">
    <p>
      <%= el.render :blog_post_intro_text %>
    </p>
  </div>
  <div class="large-6 columns">
    <%= el.render :blog_post_image %>
  </div>
</div>
<p>
  <%= el.render :blog_post_content %>
</p>x
</article>
<hr>
<%- end -%>
